aside.j-aside
    a.j-logo(href="/") Jayier's web-notes
    h4.j-title Yuan's Life-notes
    p.j-say 每天进步一点点!
    .j-social
        a(class="fa fa-github" href="https://github.com/wallaceyuan" target="_blank" )
        a(class="fa fa-weixin" href="javascript:;" target="_blank")
        a(class="fa fa-envelope" href="mailto:1272864289@qq.com" target="_blank")
        img.weixin(src="/images/weixin.jpg" alt="" class="weixin")
    nav.j-nav
        ul.j-menu
            li
                a(href="/blog") blog
            li
                a(href="/movie") movie
            li
                a(href="/crawler") crawler
            li
                a(href="/livenews") livenews
            li
                a(href="/archives") archives