meta(charset="utf-8")
meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
link(href="https://res.wx.qq.com/open/libs/weui/0.4.3/weui.css" rel="stylesheet")
script(src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js")
script(src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")