/*
body {margin:0; padding:0;}
body, html {
  height: 100%;
}
html,body{font-size: 14px;}
#application{
  padding-bottom: 15px;
  margin-top: 15px;
}
.detail-box,.detail .ant-table{
  font-size: 13px;
  margin-bottom: 5px;
}

.page-block pre{margin-left:5px;padding:2px 16px;border-radius:6px;background:#fff;font-size:13px;}
.page-block pre p{padding-bottom:5px;}
//.orderAdd{padding:8px 0;}
.page-block pre p span{display:inline-block;min-width:80px;border-bottom:1px solid #000;text-align:center;}
*/
#components-layout-demo-fixed-sider .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}