<<<<<<< HEAD
@charset "utf-8";
html {overflow-y:scroll;}
body {
    font: 14px "Microsoft YaHei", "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    color: #333;
    background-color: #fff;
}


a {
    color: #555555;
    text-decoration: none;
}
a:hover, a:focus {
    color: black;
    text-decoration: none;
}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p,img{padding:0; margin:0; border:0;}
table,td,tr,th{font-size:12px;}
ol,ul {list-style:none;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
/*
h1,h2,h3,h4,h5,h6{fonts-size:inherit; fonts-weight:normal;}
a:link,a:visited,a:hover,a:active{color:#252525; text-decoration:none;}
*/
address,cite,code,em,th,i{font-weight:normal; font-style:normal;}
.clearfix{*zoom:1;}
.clearfix:after{display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:".";}
.navLeft{margin-top:147px;}
aside a{color:#37a096;text-decoration:none;opacity:1;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;}
.j-container{position:relative;overflow:hidden;}
.j-container a{
    color:#37a096;text-decoration:none;
}
.j-aside{position:fixed;top:0;bottom:0;left:0;z-index:9;padding:60px 30px 0 30px;width:190px;border-right:2px solid #ccc;background:#2a2a2a url(/images/aside_line.png) 0 0 no-repeat;box-shadow:1px 0 0 #fff;text-align:right;}
.j-logo{display:inline-block;overflow:hidden;margin-bottom:20px;width:64px;height:64px;border:5px solid #fff;border-radius:100%;background:url(/images/4921203.png) center center no-repeat;background-size:80px;text-align:left;text-indent:-99em;}
.j-title{margin:0 0 5px 0;color:#37a096;text-transform:uppercase;font-size:1.2em;}
.j-say,.j-social{margin:0 0 20px 0;}
.j-social{position:relative;}
.j-social a{margin-left:7px;font-size:1.2em;}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-github:before{content:"\f09b";}
.fa-wechat:before,.fa-weixin:before{content:"\f1d7";}
.fa-envelope:before {content: "\f0e0";}
.j-social .weixin{position:absolute;top:20px;left:150px;display:none;}
.j-menu{margin:0;padding-left:0;list-style:none;text-transform:capitalize;}
.j-menu li{margin-bottom:10px;}
.fa{display:inline-block;font-weight:400;font-style:normal;font-family:FontAwesome;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.j-social a{margin-left:7px;font-size:1.2em;}
.W_face_radius{border-radius:50%;}
.post-content{margin-top:50px;}
em {
    font-style: italic;
}
img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.j-aside{position:fixed;top:0;bottom:0;left:0;z-index:9;padding:60px 30px 0 30px;width:190px;border-right:2px solid #ccc;background:#2a2a2a url(/images/aside_line.png) 0 0 no-repeat;box-shadow:1px 0 0 #fff;text-align:right;}
.j-main{margin:50px 100px 60px 250px;padding:0 50px;min-width:800px;}
.sort-nav {
    padding-left: 32px;
    margin-top: 50px;
}
ul.unstyled, ol.unstyled {
    margin-left: 0;
    list-style: none;
}
.sort-nav {
    padding: 13px 0 0 20px;
    margin-bottom: 0;
}
li {
    line-height: 20px;
}
.sort-nav li {
    float: left;
    margin: 10px 15px 5px 0;
}

.sort-nav li a {
    padding: 5px 10px;
    border: 1px solid #d9d9d9;
    border-radius: 14px;
    box-sizing: border-box;
    font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    color: #555555;
}
.sort-nav li.active a {
    color: white;
    border-color: #e78170;
    background: #e78170;
}
.article-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.thumbnails {
    padding-left: 36px;
    margin: 35px 0 0;
    width: 700px;
}


li {
    line-height: 20px;
}
.thumbnails>li {
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
}
.article-list>li {
    position: relative;
    width: 100%;
    padding-right: 2px;
    padding-bottom: 17px;
    margin: 0 0 17px;
    border-bottom: 1px dashed #d9d9d9;
    box-sizing: border-box;
    word-wrap: break-word;
}
.article-list .have-img .wrap-img {
    float: right;
    width: 100px;
    height: 100px;
}
.article-list .have-img>div {
    padding-right: 110px;
}
.article-list .have-img .wrap-img img {
    width: 100%;
    height: 100px;
    width: auto\9;
    border-radius: 4px;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
}

.article-list .list-top {
    margin: 8px 0;
    font-size: 12px;
}
.article-list .list-top .time {
    margin-left: 3px;
    color: #717171;
}
.blue-link {
    color: #4094c7;
}


.article-list .list-top {
    margin: 8px 0;
    font-size: 12px;
}
.article-list .list-top .time {
    margin-left: 3px;
    color: #717171;
}
.article-list .title {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
    display: inherit;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
}
.article-list .list-footer {
    font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
}
.article-list .list-footer>a, .article-list .list-footer>span {
    color: #999999;
}
.imagebubble-container {
    position: relative;
    margin: 0px 100px 60px 250px;
    padding: 0 50px;
    min-width: 800px;
}

.container {
    margin-right: auto;
    margin-left: auto;
}
.post .container {
    width: 700px;
}
.container .article {
    padding: 0px 40px 10px;
}
.article .preview .title {
    word-break: break-all;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.5;
}
.container .meta-top {
    margin: 20px 0;
}

.container .meta-top, .post .meta-bottom .like, .post .comment-list .comment-text, .wrap-btn {
    font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.container .meta-top span {
    position: relative;
    top: 1px;
    margin-right: 10px;
    font-size: 12px;
    color: #999999;
}
.thumb{
    padding-left: 36px;
    margin: 35px 0 0;
    width: 700px;
=======
@charset "utf-8";
html {overflow-y:scroll;}
body {
    font: 14px "Microsoft YaHei", "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    color: #333;
    background-color: #fff;
}


a {
    color: #555555;
    text-decoration: none;
}
a:hover, a:focus {
    color: black;
    text-decoration: none;
}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p,img{padding:0; margin:0; border:0;}
table,td,tr,th{font-size:12px;}
ol,ul {list-style:none;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
/*
h1,h2,h3,h4,h5,h6{fonts-size:inherit; fonts-weight:normal;}
a:link,a:visited,a:hover,a:active{color:#252525; text-decoration:none;}
*/
address,cite,code,em,th,i{font-weight:normal; font-style:normal;}
.clearfix{*zoom:1;}
.clearfix:after{display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:".";}
.navLeft{margin-top:147px;}
aside a{color:#37a096;text-decoration:none;opacity:1;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;}
.j-container{position:relative;overflow:hidden;}
.j-container a{
    color:#37a096;text-decoration:none;
}
.j-aside{position:fixed;top:0;bottom:0;left:0;z-index:9;padding:60px 30px 0 30px;width:190px;border-right:2px solid #ccc;background:#2a2a2a url(/images/aside_line.png) 0 0 no-repeat;box-shadow:1px 0 0 #fff;text-align:right;}
.j-logo{display:inline-block;overflow:hidden;margin-bottom:20px;width:64px;height:64px;border:5px solid #fff;border-radius:100%;background:url(/images/4921203.png) center center no-repeat;background-size:80px;text-align:left;text-indent:-99em;}
.j-title{margin:0 0 5px 0;color:#37a096;text-transform:uppercase;font-size:1.2em;}
.j-say,.j-social{margin:0 0 20px 0;}
.j-social{position:relative;}
.j-social a{margin-left:7px;font-size:1.2em;}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-github:before{content:"\f09b";}
.fa-wechat:before,.fa-weixin:before{content:"\f1d7";}
.fa-envelope:before {content: "\f0e0";}
.j-social .weixin{position:absolute;top:20px;left:150px;display:none;}
.j-menu{margin:0;padding-left:0;list-style:none;text-transform:capitalize;}
.j-menu li{margin-bottom:10px;}
.fa{display:inline-block;font-weight:400;font-style:normal;font-family:FontAwesome;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.j-social a{margin-left:7px;font-size:1.2em;}
.W_face_radius{border-radius:50%;}
.post-content{margin-top:50px;}
em {
    font-style: italic;
}
img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.j-aside{position:fixed;top:0;bottom:0;left:0;z-index:9;padding:60px 30px 0 30px;width:190px;border-right:2px solid #ccc;background:#2a2a2a url(/images/aside_line.png) 0 0 no-repeat;box-shadow:1px 0 0 #fff;text-align:right;}
.j-main{margin:50px 100px 60px 250px;padding:0 50px;min-width:800px;}
.sort-nav {
    padding-left: 32px;
    margin-top: 50px;
}
ul.unstyled, ol.unstyled {
    margin-left: 0;
    list-style: none;
}
.sort-nav {
    padding: 13px 0 0 20px;
    margin-bottom: 0;
}
li {
    line-height: 20px;
}
.sort-nav li {
    float: left;
    margin: 10px 15px 5px 0;
}

.sort-nav li a {
    padding: 5px 10px;
    border: 1px solid #d9d9d9;
    border-radius: 14px;
    box-sizing: border-box;
    font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    color: #555555;
}
.sort-nav li.active a {
    color: white;
    border-color: #e78170;
    background: #e78170;
}
.article-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.thumbnails {
    padding-left: 36px;
    margin: 35px 0 0;
    width: 700px;
}


li {
    line-height: 20px;
}
.thumbnails>li {
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
}
.article-list>li {
    position: relative;
    width: 100%;
    padding-right: 2px;
    padding-bottom: 17px;
    margin: 0 0 17px;
    border-bottom: 1px dashed #d9d9d9;
    box-sizing: border-box;
    word-wrap: break-word;
}
.article-list .have-img .wrap-img {
    float: right;
    width: 100px;
    height: 100px;
}
.article-list .have-img>div {
    padding-right: 110px;
}
.article-list .have-img .wrap-img img {
    width: 100%;
    height: 100px;
    width: auto\9;
    border-radius: 4px;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
}

.article-list .list-top {
    margin: 8px 0;
    font-size: 12px;
}
.article-list .list-top .time {
    margin-left: 3px;
    color: #717171;
}
.blue-link {
    color: #4094c7;
}


.article-list .list-top {
    margin: 8px 0;
    font-size: 12px;
}
.article-list .list-top .time {
    margin-left: 3px;
    color: #717171;
}
.article-list .title {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
    display: inherit;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
}
.article-list .list-footer {
    font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
}
.article-list .list-footer>a, .article-list .list-footer>span {
    color: #999999;
}
.imagebubble-container {
    position: relative;
    margin: 0px 100px 60px 250px;
    padding: 0 50px;
    min-width: 800px;
}

.container {
    margin-right: auto;
    margin-left: auto;
}
.post .container {
    width: 700px;
}
.container .article {
    padding: 0px 40px 10px;
}
.article .preview .title {
    word-break: break-all;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.5;
}
.container .meta-top {
    margin: 20px 0;
}

.container .meta-top, .post .meta-bottom .like, .post .comment-list .comment-text, .wrap-btn {
    font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.container .meta-top span {
    position: relative;
    top: 1px;
    margin-right: 10px;
    font-size: 12px;
    color: #999999;
}
.thumb{
    padding-left: 36px;
    margin: 35px 0 0;
    width: 700px;
>>>>>>> 0d3ea3112a579e19f29e07586fa6906c63c92ef5
}