<<<<<<< HEAD
extends ../layout

block content
  .container
    .row
      form.form-horizontal(method="post", action="/admin/category")
        .form-group
          label.col-sm-2.control-label(for="inputCategory") 电影分类
          .col-sm-10
            input#inputCategory.form-control(type="text", name="category[name]", value=category.name)
        .form-group
          .col-sm-offset-2.col-sm-10
=======
extends ../layout

block content
  .container
    .row
      form.form-horizontal(method="post", action="/admin/category")
        .form-group
          label.col-sm-2.control-label(for="inputCategory") 电影分类
          .col-sm-10
            input#inputCategory.form-control(type="text", name="category[name]", value=category.name)
        .form-group
          .col-sm-offset-2.col-sm-10
>>>>>>> 0d3ea3112a579e19f29e07586fa6906c63c92ef5
          button.btn.btn-default(type="submit") 录入