doctype
html(lang="en")
    head
    meta(charset="UTF-8")
    title #{title}
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="renderer" content="webkit")
    meta(name="keywords" content="boilerplate")
    meta(name="description" content="boilerplate ")
    meta(content="telephone=no" name="format-detection")
    meta(content="address=no" name="format-detection")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    script(type="text/javascript" src="http://www.kankanews.com/m/2015ndpd/js/flexible_css.js,flexible.js")
    link(href="/css/main.c6563123.css" rel="stylesheet")
    body
        .mask
        .contentWrapper
          #app
        #canvas
            em
                img(src="http://skin.kankanews.com/onlive/mline/images/close.png")
            .ctrlbar
                span#J-curPage 1
                span#J-pageCount 3
    script.
        var eid = '254';var isclose = '0';var color = '0';
        var streamid, myScroll, streamurl;
        var u = navigator.userAgent;
        var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
    script(type="text/javascript" src="/js/vendor.c6563123.js")
    script(type="text/javascript" src="/js/main.c6563123.js")
