<<<<<<< HEAD
doctype
html
    head
        meta(charset="utf-8")
        title #{title}
        include ./includes/wechat_head
    body
        block content
=======
doctype
html
    head
        meta(charset="utf-8")
        title #{title}
        include ./includes/wechat_head
    body
        block content
>>>>>>> 0d3ea3112a579e19f29e07586fa6906c63c92ef5
